site_name: Assemblyline 4

repo_url: https://github.com/CybercentreCanada/assemblyline4_docs
extra_css:
  - stylesheets/extra.css

theme:
  name: material
  custom_dir: override
  static_templates:
    - 404.html
  logo: images/crane.png
  favicon: images/crane.png
  language: en
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.tabs
    - navigation.expand
    - navigation.top

extra:
  alternate:
    # Switch to English
    - name: English
      link: ./en/
      lang: en

    # Switch to French
    - name: Français
      link: ./fr/
      lang: fr

nav:
  - Home: index.md
  - Overview:
    - overview/how_it_works.md
    - overview/services.md
    - overview/community_services.md
  - User's manual:
    - user_manual/submitting_file.md
    - user_manual/results.md
    - user_manual/searching.md
  - Installation:
    - installation/deployment.md
    - installation/appliance.md
    - installation/cluster.md
    - Configuration:
      - installation/configuration/config_file.md
      - installation/configuration/authentication.md
      - installation/configuration/core.md
      - installation/configuration/datasources.md
      - installation/configuration/datastore.md
      - installation/configuration/filestore.md
      - installation/configuration/logging.md
      - installation/configuration/services.md
      - installation/configuration/submission.md
      - installation/configuration/system.md
      - installation/configuration/ui.md
    - installation/classification_engine.md
    - installation/monitoring.md
  - Administration:
      - administration/signature_management.md
      - administration/source_management.md
      - administration/service_management.md
      - administration/system_safelist.md
      - administration/user_management.md
      - administration/troubleshooting.md
  - Integration:
    - integration/ingestion_method.md
    - integration/key_generation.md
    - integration/python.md
    - integration/java.md
    - integration/rest.md
  - Developer's guide:
    - Setup Environment:
      - developer_manual/env/getting_started.md
      - VSCode:
        - developer_manual/env/vscode/setup_script.md
        - developer_manual/env/vscode/use_vscode.md
      - Pycharm:
        - developer_manual/env/pycharm/local_development.md
        - developer_manual/env/pycharm/remote_development.md
        - developer_manual/env/pycharm/use_pycharm.md
    - Services:
      - Developing a service: developer_manual/services/developing_an_assemblyline_service.md
      - developer_manual/services/run_your_service.md
      - Advanced development:
        - ServiceBase Class: developer_manual/services/advanced/service_base.md
        - Request Class: developer_manual/services/advanced/request.md
        - Result Class: developer_manual/services/advanced/result.md
        - ResultSection Class: developer_manual/services/advanced/result_section.md
        - developer_manual/services/advanced/service_manifest.md
    - Infrastructure: developer_manual/core/infrastructure.md
    - Frontend: developer_manual/frontend/frontend.md
    - Documentation: developer_manual/docs/docs.md

plugins:
  - search
  - i18n:
      default_language: !ENV [DEFAULT_LANGUAGE, "en"]
      languages:
        en: english
        fr: français
      nav_translations:
        fr:
          Home: Acceuil
          Overview: Tour
          User's manual: Manuel d'utilisateur
          Developer's guide: Guide du développeur
          Integration: Intégration

markdown_extensions:
  - toc:
      permalink: true
  - attr_list
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - javascripts/tables.js
