{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>
    .md-content {
        display: none;
    }

    .tx-container {
        padding-top: .0rem;
        background: linear-gradient(to bottom, var(--md-primary-fg-color), var(--md-default-bg-color) 95%);
        padding-bottom: 100px;
    }

    .tx-hero {
        margin: 32px 2.8rem;
        color: var(--md-primary-bg-color);
        justify-content: center;
    }

    .tx-hero h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700
    }

    .tx-hero__content {
        padding-bottom: 1rem;
        margin: 0 auto;
    }

    .tx-hero__image {
        width: 35rem;
        order: 1;
        padding-right: 2rem;
    }

    .tx-hero .md-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button--primary {
        background-color: var(--md-primary-bg-color);
        color: var(--md-primary-fg-color);
        border-color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: var(--md-accent-fg-color);
        color: var(--md-default-bg-color);
        border-color: var(--md-accent-fg-color)
    }

    @media screen and (max-width:60em) {
        .tx-hero__image {
            width: 100%;
        }
    }


    @media screen and (max-width:30em) {
        .tx-hero h1 {
            font-size: 1.4rem
        }
    }

    @media screen and (min-width:60em) {
        .md-sidebar--secondary {
            display: none
        }

        .tx-hero {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tx-hero__content {
            max-width: 22rem;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            margin-left: 1.0rem;
            margin-right: 4.0rem;
            align-items: center;
        }
    }

    @media screen and (min-width:76.25em) {
        .md-sidebar--primary {
            display: none
        }
    }
    .md-button-group {
        display: flex;
        flex-wrap: wrap;
    }

    .md-button.button-discord {
        width: fit-content;
        gap: 10px;
        fill: var(--md-primary-bg-color);
        transition: fill 125ms, background-color 125ms, border-color 125ms;
    }

    .md-button.button-discord:hover {
        fill: var(--md-default-bg-color);
    }

    .discord {
        display: grid;
        text-align: center;
        width: 38px;
    }
</style>

<!-- Main site Entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <div class="tx-hero__image">
                <img src="images/splash.png" draggable="false">
            </div>
            <div class="tx-hero__content">
                <h1>Assemblyline 4</h1>
                <p>{%if 'fr/' in page.url %}Plateforme de tri de fichier et d'analyse de « malware » qui intègre les
                    meilleurs outils de la communauté en cyber sécurité!{%else%}A scalable file triage and malware
                    analysis system integrating the cyber security community's best tools.{%endif%}</p>
                <div class="md-button-group">
                    <a href="overview/how_it_works/"
                        title="{%if 'fr/' in page.url %}Comment ça fonctionne{%else%}How it works{%endif%}"
                        class="md-button md-button--primary">
                        {%if 'fr/' in page.url %}Comment ça fonctionne{%else%}How it works{%endif%}
                    </a>
                    <a href="https://github.com/search?q=topic%3Aassemblyline+org%3ACybercentreCanada+fork%3Atrue"
                        title="{%if 'fr/' in page.url %}Voir le code source{%else%}View source code{%endif%}"
                        class="md-button">
                        {%if 'fr/' in page.url %}Voir le code source{%else%}View source code{%endif%}
                    </a>
                    <a href="https://discord.gg/GUAy9wErNu" class="md-button button-discord">
                        <span>{%if 'fr/' in page.url %}Rejoignez notre communauté{%else%}Join our community{%endif%}</span>
                        <span class="discord">{% include ".icons/fontawesome/brands/discord.svg" %}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
